@font-face {
  font-family: Volvo Novum;
  src: url(../../public/fonts/VolvoNovum-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
  // background: #000;
  // color: #fff;
}

body {
  -moz-osx-font-smoothing: grayscale;
  font-family: Volvo Novum, Arial, sans-serif;
  // background: #000;
  // color: #fff;
}

:root {
  // background: #000;
  // color: #fff;
}
